 <div v-if="player_state.admin">
    <button class="btn btn-primary" @click="next_page()">Next</button>
</div>
<div v-if="spectator">
    <p>You are a spectator!</p>
</div>
<strong>Round: </strong>{{game_state.round}}

<div v-if="game_state.ended">
    <p>The game has ended!</p>
    <ul id="Final scores:">
        <p>Final scores:</p>
        <li v-for="(item, key) in other_player_state">{{key + ": " + item}}</li>
    </ul>
</div>

<div v-else-if="game_state.round_state == 'Prompts'">
    <div v-if="player_state.prompts_to_make > 0">
        Please submit a prompt! Prompts left to submit this round: {{player_state.prompts_to_make}}
        <input type="text" @keyup.enter="submit_prompt()" v-model="prompt_text" class="form-control" placeholder="Your prompt here!">
        <button class="btn btn-primary" @click="submit_prompt()">Submit prompt</button>
    </div>
    <div v-else>
        You have submitted all of your prompts for this round, please wait for the admin to progress the game!
    </div>    
</div>

<div v-else-if="game_state.round_state == 'Answers'">
    <div v-if="prompts_answered == player_state.prompts_to_answer">
        You have submitted all of your answers for this round, please wait for the admin to progress the game!
    </div>
    <div v-else>
        <div v-if="prompts_answered == 0">
            <p>Please submit an answer to this prompt: {{player_state.prompt_to_answer_0}}</p>
            <input type="text" @keyup.enter="submit_answer(0)" v-model="answer_text" class="form-control" placeholder="Your answer here!">
            <button class="btn btn-primary" @click="submit_answer(0)">Submit answer</button>
        </div>
        <div v-else>
            <p>Please submit an answer to this prompt: {{player_state.prompt_to_answer_1}}</p>
            <input type="text" @keyup.enter="submit_answer(1)" v-model="answer_text" class="form-control" placeholder="Your answer here!">
            <button class="btn btn-primary" @click="submit_answer(1)">Submit answer</button>
        </div>
    </div>

</div>

<div v-else-if="game_state.round_state == 'Voting'">
    <div v-if="!voted">
        Who's answer is better?
        <p>The prompt was: {{game_state.voting.prompt}}</p>
        <strong>Player {{game_state.voting.info[0].name}} said:</strong>
        <li>{{game_state.voting.info[0].answer}}</li>
        <strong>Player {{game_state.voting.info[1].name}} said:</strong>
        <li>{{game_state.voting.info[1].answer}}</li>
        <div v-if="!spectator">
            <button class="btn btn-primary" @click="vote(0)">Vote for {{game_state.voting.info[0].name}}</button>
            <button class="btn btn-primary" @click="vote(1)">Vote for {{game_state.voting.info[1].name}}</button>
        </div>
    </div>
    <div v-else>
        You have voted! please wait for the admin to progress the game!
    </div>
</div>

<div v-else-if="game_state.round_state == 'Results'">
    Results of the round:
    <p>The prompt was: {{game_state.voting.prompt}}</p>
    <div>
        <strong>Player {{game_state.voting.info[0].name}} said:</strong>
        <li>{{game_state.voting.info[0].answer}}</li>
        <li>They got {{game_state.voting.info[0].votes}} votes for {{game_state.voting.scores[0]}} points</li>
    </div>
    <div>
        <strong>Player {{game_state.voting.info[1].name}} said:</strong>
        <li>{{game_state.voting.info[1].answer}}</li>
        <li>They got {{game_state.voting.info[1].votes}} votes for {{game_state.voting.scores[1]}} points</li>
    </div>  
</div>

<div v-else-if="game_state.round_state == 'Scores'">
    <div v-for="(item, key) in game_state.results">
        <li>Player {{key}}: {{other_player_state[key]}} score + {{item}} this round.</li>
    </div>
</div>