<div v-if="player_state.admin">
    <button class="btn btn-primary" onclick="next_page()">Start game</button>
</div>
<div v-if="player_state.spactator">
    <p>You are a spectator!</p>
</div>
<strong>Waiting for the admin to start!</strong>
<ul id="players">
    <p>Players:</p>
    <li v-for="(item, key) in other_player_state">{{key}}</li>
</ul>